<%# if team_challenge.id.odd? %>
<div class="content">
  <div class="row card-challenge">

    <%#= cl_image_tag team_challenge.challenge.picture %>
    <% if team_challenge.challenge.picture.present? %>
    <div class="card-picture" style="background-image: url('<%= cl_image_path team_challenge.challenge.picture %>');"></div>
    <% else %>
    <div class="card-picture" style="background-image: url('<%= image_path "https://placeholdit.co//i/555x175?bg=cccccc"%>');"></div>
    <% end %>
    <div class="card-title"><%= team_challenge.challenge.title %></div>
    <div class="card-score text-center"><%= team_challenge.challenge.score %></div>
    <% if team_challenge.challenge.input_type == "text" %>
    <h3>Quizz challenge</h3>
    <% elsif team_challenge.challenge.input_type == "picture" %>
    <h3>Picture challenge</h3>
    <% else %>
    <h3>Multiple choices challenge</h3>
    <% end %>
<!--       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="4" y1="12" x2="20" y2="12"/>
        <polyline points="14 6 20 12 14 18"/>
      </svg> -->

    <%= link_to "", team_challenge_path(@team.id, team_challenge.challenge.id), class: "card-link" %>
  </div>
</div>
<!--
<div class="row">
  <%#= cl_image_tag team_challenge.challenge.picture %>
  <div class="biggerfont">
    <%= link_to team_challenge_path(@team.id, team_challenge.challenge.id)  %>
    <%= team_challenge.challenge.title %>
    <div class="right">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#143673" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="4" y1="12" x2="20" y2="12"/>
        <polyline points="14 6 20 12 14 18"/>
      </svg>
    </div>
    <%# end %>
  </div>
  <hr>

</div>
<%# if !team_challenge.answer.nil? %>


<%# if team_challenge.answer.status == "completed" && team_challenge.challenge.gift == "" %>
<div class="row">
  <%#= cl_image_tag team_challenge.challenge.picture %>
  <div class="biggerfont">
    <div class="biggerfont stroked">
      <%= link_to team_challenge_path(@team.id, team_challenge.challenge.id)  %>
      <%= team_challenge.challenge.title %>
      <div class="right">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="4" y1="12" x2="20" y2="12"/>
          <polyline points="14 6 20 12 14 18"/>
        </svg>
      </div>
      <%# end %>
    </div>
    <hr>

  </div>

  <%# end %>

  <%# elsif team_challenge.answer.status == "completed" && team_challenge.challenge.gift != "" %>
  <%# end %>
  <%# end %>
-->
