<%- if controller_name != 'sessions' %>
<div class="inline-start lilmargin">
  <span class="liltoppad"><%= link_to "Log in", new_session_path(resource_name), class: "chevron-links" %></span>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
    <polyline points="13 17 18 12 13 7" fill="none" stroke="#343851" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
    <polyline points="6 17 11 12 6 7" fill="none" stroke="#343851" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
  </svg>
</div>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
<div class="inline-start lilmargin">
  <span class="liltoppad"><%= link_to "Create account", new_registration_path(resource_name), class: "chevron-links" %></span>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
    <polyline points="13 17 18 12 13 7" fill="none" stroke="#343851" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
    <polyline points="6 17 11 12 6 7" fill="none" stroke="#343851" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
  </svg>
</div>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
<%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "chevron-links" %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
<%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: "chevron-links" %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
<div class="inline-start lillilmargin">
  <span class="liltoppad"><%= link_to "Forgot password?", new_password_path(resource_name), class: "chevron-links" %></span>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
    <polyline points="13 17 18 12 13 7" fill="none" stroke="#343851" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
    <polyline points="6 17 11 12 6 7" fill="none" stroke="#343851" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
  </svg>
</div>

<% end -%>

<%- if devise_mapping.omniauthable? %>
<%- resource_class.omniauth_providers.each do |provider| %>
<%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: "chevron-links" %><br />
<% end -%>
<% end -%>

